/* begin COMMON elements */

body {
	margin: 0;
	padding: 0;
	font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}

a,
a:visited {
	color: #97be0d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body > header h1 {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
	text-align: right;
	font-size: 1.5em;
	line-height: 48px;
	color: #fff;
}

body > header {
	padding: 10px 20px;
	background: #1d1d1b;
	*zoom: 1; /* IE */
}

body > header:before,
body > header:after {
	display: table;
	line-height: 0;
	content: "";
}

body > header:after {
	clear: both;
}

body > header h1 img {
	float: left;
	margin-right: 10px;
	width: auto;
	height: 48px;
}

article {
	margin: 0 auto 20px;
	padding: 10px 20px;
	width: 100%;
	max-width: 980px;
	*zoom: 1; /* IE */
}

article:before,
article:after {
	display: table;
	line-height: 0;
	content: "";
}

article:after {
	clear: both;
}


@media only screen and (max-device-width : 1020px) {
	article {
		width: auto;
		max-width: none;
	}
}

aside {
	margin: 0 auto 20px;
	padding: 0 20px;
	width: 100%;
	max-width: 980px;
}

@media only screen and (max-device-width : 1020px) {
	aside {
		width: auto;
		max-width: none;
	}
}

/* end COMMON elements */

/* begin FORM elements */

button,
a.btn,
a.btn:visited {
	display: block;
	padding: 10px 15px;
	background: #97be0d;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

button:hover,
a.btn:hover {
	background: #b3dc23;
}

button {
	width: 100%;
	font-size: 1em;
}

input[type="text"],
input[type="tel"],
input[type="password"] {
	margin: 5px 0 20px;
	padding: 10px;
	width: 100%;
	height: 3em;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.20);
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.20);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

label {
	display: block;
}

/* end FORM elements */

/* begin PRODUCT page */

article.product div.image {
	padding: 20px;
	border: 1px solid #f0f0f0;
	border-bottom: none;
	text-align: center;
	position: relative;
	overflow: hidden;
}

article.product div.image img {
	width: 100%;
	max-width: 800px;
}

article.product div.image i {
	padding: 10px;
	width: 50px;
	height: 50px;
	background: #197088;
	text-align: center;
	font-size: 0.75em;
	line-height: 100px;
	font-style: normal;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: -35px;
	left: -35px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

article.product div.info {
	padding: 20px;
	background: #f6f6f6;
}

article.product div.info h3 {
	margin: 0 0 10px;
	font-size: 1em;
	*zoom: 1; /* IE */
}

article.product div.info h3:before,
article.product div.info h3:after {
	display: table;
	line-height: 0;
	content: "";
}

article.product div.info h3:after {
	clear: both;
}

article.product div.info h3 strong {
	float: left;
	margin-left: 0;
	font-weight: bold;
}

article.product div.info h3 i {
	float: right;
	font-weight: normal;
	font-style: normal;
	color: #f20;
}

article.product div.info h3 br {
	display: none;
}

/* end PRODUCT page */

/* begin SCAN page */

article.credentials {
	display: table;
}

article.credentials section {
	display: table-row;
}

article.credentials .scan {
	display: table-cell;
	padding: 20px;
	width: 40%;
	background: #f6f6f6;
	vertical-align: bottom;
	position: relative;
}

article.credentials .help {
	margin: 0 0 20px;
}

article.credentials .help h3 {
	margin: 0 0 10px;
}

article.credentials .help ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

article.credentials .help ul li {
	display: block;
	margin: 0 0 25px;
	padding: 0;
	font-size: 0.8em;
	overflow: hidden;
}

article.credentials .help ul li p {
	margin: 0;
}

article.credentials .help ul li img {
	float: left;
	margin-right: 10px;
}

article.credentials .frm {
	display: table-cell;
	padding: 20px;
	width: 40%;
	background: #f6f6f6;
	vertical-align: bottom;
}

article.credentials .or {
	display: table-cell;
	padding: 0 10px;
	width: 20%;
	text-align: center;
	vertical-align: middle;
}

article.credentials .or > span {
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	background: #333;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font-weight: bold;
	font-size: 2em;
	line-height: 80px;
	text-transform: uppercase;
	color: #fff;
	
}

@media only screen and (max-device-width : 768px) {
	article.credentials,
	article.credentials section,
	article.credentials .scan,
	article.credentials .frm,
	article.credentials .or {
		display: block;
		margin: 0 0 40px;
		width: auto;
	}
}

/* end SCAN page */

/* begin SHOPPING CART page */

article.cart {
	display: table;
}

article.cart section {
	display: table-row;
}

article.cart div.image {
	display: table-cell;
	padding: 20px;
	width: 25%;
	border: 1px solid #f0f0f0;
	border-right: none;
	text-align: center;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}

article.cart div.image img {
	width: 100%;
	max-width: 150px;
}

article.cart div.info {
	display: table-cell;
	padding: 20px;
	width: 75%;
	background: #f6f6f6;
	vertical-align: top;
}

@media only screen and (max-device-width : 768px) {
	article.cart,
	article.cart section,
	article.cart div.image,
	article.cart div.info {
		display: block;
		width: auto;
	}
	
	article.cart div.image {
		border-right: 1px solid #f0f0f0;
	}
}

article.cart div.info h3 {
	margin: 0 0 10px;
	font-size: 1em;
	*zoom: 1; /* IE */
}

article.cart div.info h3:before,
article.cart div.info h3:after {
	display: table;
	line-height: 0;
	content: "";
}

article.cart div.info h3:after {
	clear: both;
}

article.cart div.info h3 strong {
	float: left;
	margin-left: 0;
	font-weight: bold;
}

article.cart div.info h3 i {
	float: right;
	font-weight: normal;
	font-style: normal;
	color: #f20;
}

article.cart div.info h3 br {
	display: none;
}

article.cart div.info p {
	font-size: 0.8em;
}

aside.total div.payment {
	margin: 0 0 20px;
	padding: 10px 20px;
	background: #333;
	color: #fff;
	*zoom: 1; /* IE */
}

aside.total div.payment:before,
aside.total div.payment:after {
	display: table;
	line-height: 0;
	content: "";
}

aside.total div.payment:after {
	clear: both;
}

aside.total div.payment strong {
	float: right;
	margin-left: 0;
	font-weight: bold;
}

aside.total div.payment i {
	float: left;
	font-weight: normal;
	font-style: normal;
	color: #bbb;
}

aside.total div.payment>br {
	display: none;
}

/* end SHOPPING CART page */

/* begin FOOTER */

footer {
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
	max-width: 980px;
	text-align: center;
	font-size: 0.8em;
	color: #999;
}

/* end FOOTER */